.quote {
  padding: 120px 120px 60px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 80px;
  &__img {
    max-width: 100%;
  }
  &__box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 470px;
  }
  &__text {
    margin: 0;
    @include text-inter (34px, 600, 44px);
    letter-spacing: -0.5px;
    color: $titleColor;
  }
  &__name {
    @include text-inter (20px, 500, 32px);
    color: $titleColor;
    margin: 0 0 6px 0;
  }
  &__profession {
    @include text-inter (16px, 400, 28px);
    color: $color-text;
    margin: 0;
    opacity: 0.7;
  }
  &__line {
    border-bottom: 1px solid #E3E3E3;
    display: none;
  }
}

@include netbook {
  .quote {
    padding: 80px 40px 30px;
    grid-template-columns: 430px 1fr;
    column-gap: 30px;
    &__text {
      @include text-inter (25px, 600, 35px);
    }
    &__name {
      @include text-inter (18px, 500, 25px);
    }
    &__profession {
      @include text-inter (14px, 400, 25px);
    }
  }
}

@include tablet {
  .quote {
    grid-template-columns: 100%;
    gap: 40px;
    padding: 20px 18px 40px;
    &__text {
      margin-bottom: 40px;
    }
    &__img {
      justify-self: center;
    }
  }
}

@include mobile {
  .quote {
    padding: 20px 18px 0 40px;
  }
  .quote__img {
    width: 284px;
    height: 204px;
  }
  .quote__text {
    @include text-inter (23px, 600, 29px);
  }
  .quote__name {
    @include text-inter (14px, 600, 22px);
  }
  .quote__profession {
    @include text-inter (10px, 600, 16px);
  }
  .quote__line {
    display: block;
    margin-top: 40px;
  }
}
