$backgroundColor: #F4F4F4;
$titleColor: #151515;
$color-text: #222222;
$button-color: #24B47E;
$white: #FFFFFF;
$line: #D7D4D4;
$toggle-btn: #24B47E;

$max-width: 1440px;
$min-width: 320px;

$netbook: 1024px;
$tablets: 768px;
$mini-tablets: 600px;
$mobile: 320px;
